<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="static/js/jquery-3.3.1.js"></script>
    <script src="static/jquery-ui-1.12.1.custom/jquery-ui.js"></script>
    <script src="static/js/addRule.js"></script>
    <link rel="stylesheet" type="text/css" href="static/jquery-ui-1.12.1.custom/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <title>Add a Task</title>
    <form method="post" action="/addTask">
        Task:
        <textarea name="descrip" required></textarea>
        <br>
        Hours Needed:
        <input type="number" name="budget_hr" step="any" required>
        <br>
        Due(optional): 
        Date<input type="text" id="datepicker" name="due_date" value="none">
        Time<input type="number" name="due_hr" value="23" step="1" min="0" max="23">:
        <input type="number" name="due_min" value="59" step="1" min="0" max="59">
        <br>
        Priority:<br>
        <input type="radio" name="priority" value="Ultra High">Ultra High<br>
        <input type="radio" name="priority" value="High" checked> High <br>
        <input type="radio" name="priority" value="Low"> Low <br>

        <button type="submit">submit</button>
    </form>
</head>
<body>

</body>
</html>