<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="static/js/jquery-3.3.1.js"></script>
    <script src="static/jquery-ui-1.12.1.custom/jquery-ui.js"></script>
    <script src="static/js/addRule.js"></script>
    <link rel="stylesheet" type="text/css" href="static/jquery-ui-1.12.1.custom/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <title>Add a Week Plan</title>
</head>
<body>

</body>
</html>