<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="static/js/jquery-3.3.1.js"></script>
    <script src="static/jquery-ui-1.12.1.custom/jquery-ui.js"></script>
    <script src="static/js/addRule.js"></script>
    <link rel="stylesheet" type="text/css" href="static/jquery-ui-1.12.1.custom/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <title>Priority Planner</title>
</head>
<body>
    
    <div>
        <h2>Today's plan:</h2>
    </div>
    <div>
        <h2>This week's plan:</h2>
    </div>
    <div>
        <h2> Tasks:</h2>
        {% for task in tasks %}
        {{task.descrip}}
        
        <span class="date-span">Hours still needed: {{task.hr_left}}</span>
        
        <span class="date-span">Due: {{task.due_datetime}}</span><br>
        
        {% endfor %}
    </div>
    <br>
    <button><a href="/renderAddTaskPage">Add a Task</a></button>
    <br>
    <h2> Rules:</h2>
    {% for rule in rules%}
    <div class="rule-div">
        <hr>
        <span class="rule-descrip">
        {{rule.descrip}}<br> 
        </span>
        <span class="date-span">
            Created: {{rule.create_date}}
            <br>
            Expire: {{rule.exp_time}}
        </span>
        <br>
        <a href="/openBreach?id={{rule.id}}"> Breach Detail</a>
    </div>
    {% endfor %}
    
    
    <hr>
    <button><a href="static/addRule.html">Add a Rule</a></button>

    <button><a href="/showPerfectDay">A perfect day today</a></button>
</body>
</html>